@layout MainLayout
@page "/referal"
@using Syncfusion.Blazor.Grids

@using Syncfusion.Blazor.DropDowns
@using System;
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Cards;
@using Syncfusion.Blazor.Buttons;


        <div class="container-fluid py-1">
          <div class="row">
          <div class="col-12">

          <SfCard style="border-radius:10px; padding:5px; background:white;">
<CardContent>
<div class="row">
<div class="col-lg-12">
                            <h6 class="mb-0 text-dark" style="font-family:'Times New Roman', Times, serif;"> Referal Program</h6>
                            <p class="text-sm">Track and find all the details about your referals.</p>

</div>

<div class="col-xl-3 col-6 text-center">

<div class="border-dashed border-1 border-secondary border-radius-md py-3">

                                <h6 class="text-dark mb-0" style="font-family:'Times New Roman', Times, serif;">Registered</h6>
<h4 class="font-weight-bolder" ><span class="small">₹ </span></h4>
</div>
</div>
<div class="col-xl-3 col-6 text-center">
<div class="border-dashed border-1 border-secondary border-radius-md py-3">
                                <h6 class="text-dark mb-0" style="font-family:'Times New Roman', Times, serif;">Subscribed</h6>
<h4 class="font-weight-bolder"><span class="small">₹ </span></h4>
</div>
</div>
</div>


<div class="row mt-5">
<div class="col-lg-5 col-12">
                            <h6 class="text-dark mb-0" style="font-family:'Times New Roman', Times, serif;">Referal Code</h6>
<p class="text-sm">Copy the code below to share the link.</p>
<div class="border-dashed border-1 border-secondary border-radius-md p-3">

<div class="d-flex align-items-center">
<div class="form-group w-70">
<div class="input-group bg-gray-200">
                                            
    <input class="form-control form-control-sm" value="keepsl-referrel_code" type="text" id="myInputforcopy" disabled>
<span class="input-group-text bg-transparent" data-bs-toggle="tooltip" data-bs-placement="top" title="Referral code expires in 1 month">
                                                <i class="ni ni-single-copy-04"></i>
                                            </span>
</div>
</div>
                                    <button class="btn btn-primary ms-2 px-3" onclick="myCopyFunction()" id="copybtn">Copy</button>
</div>
<!-- <p class="text-xs mb-1">You cannot generate codes.</p> -->
                                <p class="text-xs mb-0 text-dark"><a href="javascript:;">Contact us</a> to generate more referrals link.</p>
</div>
</div>
<div class="col-lg-7 col-12 mt-4 mt-lg-0">
                            <h6 class="mb-0 text-dark" style="font-family:'Times New Roman', Times, serif;">How to use</h6>
<p class="text-sm">Integrate your referral code in 3 easy steps.</p>

<div class="row">
<div class="col-md-4 col-12">

<SfCard style="height:125px; border-radius:10px;">
<CardContent>

<div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md mb-2">
<i class="ni ni-money-coins opacity-10" aria-hidden="true"></i>
</div>
<p class="text-sm font-weight-bold mb-2">1. Share the link </p>

 </CardContent>
</SfCard>
</div>
<div class="col-md-4 col-12">
                                    <SfCard style="height:125px; border-radius:10px;">
<CardContent>
<div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md mb-2">
<i class="ni ni-send opacity-10" aria-hidden="true"></i>
</div>
<p class="text-sm font-weight-bold mb-2">2. Your friend subscribes to Keepsl. </p>
<!-- <h5 class="font-weight-bolder">10<span class="small">%</span></h5> -->

</CardContent>
</SfCard>

</div>
<div class="col-md-4 col-12">
                                    <SfCard style="height:125px; border-radius:10px;">
<CardContent>
<div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-md mb-2">
<i class="ni ni-spaceship opacity-10" aria-hidden="true"></i>
</div>
<p class="text-sm font-weight-bold mb-2">3. Earn 10 days of free usage. </p>
<!-- <h5 class="font-weight-bolder"><span class="small">$</span>500</h5> -->
</CardContent>
</SfCard>

</div>

</div>
</div>
</div>
<hr class="horizontal dark">
<div class="row mt-4">
<h6 class="mb-2" style="font-family:'Times New Roman', Times, serif;">Other programs</h6>

<div class="col-lg-4 col-12 mt-4 mt-lg-0">
<div class="card border-dashed border-1 text-center h-100">
<div class="card-body position-relative z-index-1 d-flex flex-column">
<div class="position-relative d-flex align-items-center justify-content-center h-100">
<img class="w-50 position-relative z-index-2" src="/css/img/illustrations/icon-documentation.svg" alt="illustration">
</div>
<a class="text-sm text-secondary font-weight-bold mb-0 icon-move-right mt-2" href="javascript:;">
Join partner program
<i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
</div>
</CardContent>
</SfCard>

</div>


<div class="col-sm-3 col-lg-6 col-md-3 col-xl-12  mt-4">
<div class="card mb-4">
<div class="card-header pb-0 p-3">
<h6>Top Referred Users</h6>
</div>
<div class="card-body px-0 pt-0 pb-2">
<div class="table-responsive p-0">
<table class="table align-items-center mb-0">
<thead>
<tr>
<th class="text-uppercase text-dark text-xxs font-weight-bolder">User</th>
<th class="text-uppercase text-dark text-xxs font-weight-bolder ps-2">Registered Date</th>
<th class="text-center text-uppercase text-dark text-xxs font-weight-bolder">Registered/Subcribed</th>

</tr>
</thead>
<tbody>
<tr>
<td>
<div class="d-flex px-3 py-1">
<div>
<img src="/css/img/team-1.jpg" class="avatar me-3" alt="avatar image">
</div>
<div class="d-flex flex-column justify-content-center">
<h6 class="mb-0 text-sm">Alice Vinget</h6>
<p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">8.232</span> orders</p>
</div>
</div>
</td>
<td>
<p class="text-sm font-weight-bold mb-0">₹130.992</p>
</td>
<td class="align-middle text-center text-sm">
<p class="text-sm font-weight-bold mb-0">₹9.500</p>
</td>

</tr>
<tr>
<td>
<div class="d-flex px-3 py-1">
<div>
<img src="/css/img/team-2.jpg" class="avatar me-3" alt="avatar image">
</div>
<div class="d-flex flex-column justify-content-center">
<h6 class="mb-0 text-sm">John Alura</h6>
<p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">12.821</span> orders</p>
</div>
</div>
</td>
<td>
<p class="text-sm font-weight-bold mb-0">₹80.250</p>
</td>
<td class="align-middle text-center text-sm">
<p class="text-sm font-weight-bold mb-0">₹4.200</p>
</td>

</tr>
<tr>
<td>
<div class="d-flex px-3 py-1">
<div>
<img src="/css/img/team-3.jpg" class="avatar me-3" alt="avatar image">
</div>
<div class="d-flex flex-column justify-content-center">
<h6 class="mb-0 text-sm">Andrew Sian</h6>
<p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">2.421</span> orders</p>
</div>
</div>
</td>
<td>
<p class="text-sm font-weight-bold mb-0">₹40.600</p>
</td>
<td class="align-middle text-center text-sm">
<p class="text-sm font-weight-bold mb-0">₹9.430</p>
</td>

</tr>
<tr>
<td>
<div class="d-flex px-3 py-1">
<div>
<img src="/css/img/team-4.jpg" class="avatar me-3" alt="avatar image">
</div>
<div class="d-flex flex-column justify-content-center">
<h6 class="mb-0 text-sm">Luca Willaim</h6>
<p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">5.921</span> orders</p>
</div>
</div>
</td>
 <td>
<p class="text-sm font-weight-bold mb-0">₹91.300</p>
</td>
<td class="align-middle text-center text-sm">
<p class="text-sm font-weight-bold mb-0">₹7.364</p>
</td>
</tr>
<tr>
<td>
<div class="d-flex px-3 py-1">
<div>
<img src="/css/img/team-1.jpg" class="avatar me-3" alt="avatar image">
</div>
<div class="d-flex flex-column justify-content-center">
<h6 class="mb-0 text-sm">Richel Manuel</h6>
<p class="text-sm font-weight-bold text-secondary mb-0"><span class="text-success">921</span> orders</p>
</div>
</div>
</td>
<td>
<p class="text-sm font-weight-bold mb-0">₹140.925</p>
</td>
<td class="align-middle text-center text-sm">
<p class="text-sm font-weight-bold mb-0">₹20.531</p>
</td>

</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
    </div>
</div>


