@layout MainLayout
@page "/template"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Cards



<div class="container">
    <div class="row mb-3">
        <div class="col-lg-12 mt-lg-1 mt-1 mb-3">

            <SfCard>
    <CardContent>
                <div class="row">
                    <div class="col-2">
                        <div class="avatar avatar-xl position-relative">
                            @*<img src="/css/img/team-3.jpg" class="w-100 border-radius-lg shadow-sm">*@
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="h-100">
                            <h5 class="my-3 font-weight-bolder text-lg-start" style="font-family:'Times New Roman';">
                                Strategy Template
                            </h5>
                        </div>
                    </div>
                </div>
                </CardContent>
            </SfCard>
            </div>
            </div>
    
        <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">


@*            Card1  *@
        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                                                    <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                          <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>



            @*            Card2  *@

       <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">
                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>

           @*    Card3  *@
        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                         <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>


         
            @*            card4     *@

        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>


        @*            Card 5        *@

        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>

        <div class="col-sm-10 mb-2">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                                          <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>



        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>

        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>



        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>


       <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                                                    <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>


        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>


        <div class="col-sm-10 mb-3">
            <SfCard style="border-radius:15px;">
                <CardContent>
                    <div class="row">
                        <div class="col-9 mt-1">

                            <h6 style="font-family:'Times New Roman', Times, serif;"> Straddle 55</h6>
                        </div>
                        <div class="col-3 p-2">
                            <img src="https://img.icons8.com/cotton/20/null/combo-chart--v3.png" class="d-flex justify-content-end" />
                        </div>

                    </div>
                    <hr class="horizontal dark mb-0" />

                    <div class="row mt-2">
                        <div class="col-8">
                            <p class="text-start">
                                NIFTY 50<br />
                                <small style="font-size:x-small;">NSE|F&O|INTRADAY</small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><small>Bullish</small></p>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="row mt-1">
                            <div class="col-8 text-start">
                                <img src="/css/icons/bar.jpg" class="img-fluid  opacity-2;" />
                            </div>
                            <div class="col-4 text-end">
                                <p class="text-start">
                                    <small style="font-size:small;">Capital Required</small>
                                    <small style="font-size:x-small;margin-top:0%;">Rs.90000</small>
                                </p>

                                <p class="text-start">
                                    <small style="font-size:small;">Risk</small>
                                    <small style="font-size:x-small;"> 25%</small>
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 mb-0 w-100"> Copy Strategy</button>
                    </div>
                </CardContent>
            </SfCard>
        </div>


    </div>
    </div>


    <style>
    .e-image
    {
    height:40px;
    opacity-2;
    }


    #CardContent {
        text-align: left;
    }

    .e-card {
        border-radius: 10px;
        border: 1px;
        box-shadow: 1px;

    }
    
    </style>