@page "/wizards"
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="mt-5 text-white">Complete Your Profile</h3>
            <h5 class="text-white font-weight-normal">This information will help you to get started.</h5>
            <div class="multisteps-form mb-5">

                <div class="row mt-4">
                    <div class="col sm-8 col-lg-8 mx-auto my-5">
                        <div class="multisteps-form__progress">
                            <button class="multisteps-form__progress-btn js-active" type="button" title="Order Notification">
                                <span style="color:white;font-weight: bold;">Order Notification</span>
                            </button>
                            <button class="multisteps-form__progress-btn" type="button" title="Account">
                                <span style="color:white;font-weight: bold;">Account</span>
                            </button>
                            <button class="multisteps-form__progress-btn" type="button" title="Beginners video">
                                <span style="color:white;font-weight: bold;">Beginners video</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 col-lg-8 m-auto">
                        <form class="multisteps-form__form">

                            <div class="card multisteps-form__panel p-2 border-radius-xl bg-white js-active" data-animation="FadeIn">
                                <div class="row text-center">
                                    <div class="col-lg-12 mx-auto">
                                        <h5 class="font-weight-bold">Scan this to get order notification</h5>

                                    </div>
                                </div>

                                <div class="multisteps-form__content">
                                    <div class="row mt-0">
                                        <div class="col col-sm-10 col-md-10 col-xl-12">
                                            <img src="/images/oder.png" class="img-fluid rounded-3 mx-auto d-block mt-sm-3" alt="team-2" style="width:80%;height:200 px; border-radius:15px;">
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4">
                                        <a href="/report" class="btn bg-danger  mb-0 text-white " type="button" title="Next">Skip All</a>
                                        <button class="btn btn-primary ms-auto mb-0 js-btn-next start-left " type="button" title="Next">Next</button>
                                    </div>
                                </div>
                            </div>

                            <div class="card multisteps-form__panel p-2 border-radius-xl bg-white" data-animation="FadeIn">
                                <div class="row text-center">
                                    <div class="col-lg-12 mx-auto">
                                        <h5 class="font-weight-bold">Keepsl Support</h5>
                                    </div>
                                </div>
                                <div class="multisteps-form__content">
                                    <div class="row mt-0">
                                        <div class="col col-sm-10 col-md-10 col-xl-12">

                                            <img src="/images/telegram.png" class="img-fluid rounded-3 mx-auto d-block mt-sm-3" alt="team-2" style="width:80%;height: 200 px; border-radius:15px;">


                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4">
                                        <button class="btn bg-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                        <button class="btn btn-primary ms-auto mb-0 js-btn-next start-left " type="button" title="Next">Next</button>
                                    </div>
                                </div>
                            </div>

                            <div class="card multisteps-form__panel p-2 border-radius-xl bg-white" data-animation="FadeIn">
                                <div class="row text-center mt-2">
                                    <div class="col col-sm-10 col-md-10 col-xl-12">

                                        <h5 class="font-weight-normal">See the video to get help</h5>
                                        <iframe width="80%" height="300" src="https://www.youtube.com/embed/Tm08oVNbrJY" title="keepsl- Subscribe to Notifications (Telegram)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="button-row d-flex mt-4 col-12">
                                        <button class="btn bg-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                        <a class="btn bg-primary ms-auto mb-0 text-white" href="/report" title="Finish">Finish</a>
                                    </div>
                                </div>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

